{% extends 'base.html '%}

{% block content %}
<main class="about">
<div class="cont_about">
    <h1><span style="color: #1DAFF7;">Команда Т1 —</span>&nbsp;это сообщество
        <br>единомышленников, которых объединяет<br>командный дух и неравнодушие к своему делу
    </h1>
    <p>Откройте двери к успешной карьере в T1: ищите вакансии в
        ведущем ИТ-холдинге и станьте частью команды, меняющей будущее технологий!
    </p>
</div>
<div class="karts_about">
    <div class="kart_about">
        <p class="h3_kart">Top-10</p>
        <p>работодателей в ИТ по версии habr.com, ЭКОПСИ, hh.ru</p>
    </div>
    <div class="kart_about">
        <p class="h3_kart">15</p>
        <p>ИТ-сообществ и<br>техногильдий Т1</p>
    </div>
    <div class="kart_about">
        <p class="h3_kart">300+</p>
        <p>партнёров во всех<br> сферах ИТ</p>
    </div>
</div>
</main>
{% endblock %}