{% extends 'base.html' %}

{% block content %}

<main class="resume_main container">
    <section class="resume_card">
        <div class="filters-header">
            <span class="filters-header__pill">Резюме</span>
        </div>


        <form method="POST" class="resume_input_wrap" role="group">
            {% csrf_token %}
            <div class="resume_row">
                <textarea class="resume_textarea" placeholder="Напишите о себе..." aria-label="Напишите о себе"></textarea>
            </div>

            <div class="resume_actions">
                <input type="submit" class="resume_submit">
            </div>
        </form>



    </section>
</main>

{% endblock %}